/* ==============================
Custom Fonts
============================== */
@font-face {
    font-family: 'Dev Gothic';
    src: url('/fonts/devgothic.ttf');
}
@font-face {
    font-family: 'Mechsuit';
    src: url('/fonts/mechsuit.otf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans.ttf');
}
@font-face {
    font-family: 'Steelfish';
    src: url('/fonts/steelfish.ttf');
}

/* ==============================
Font Variables
============================== */
:root {
    --body-font: "Open Sans", sans-serif;
    --header-font: "Steelfish", sans-serif;
    --hero-font: "Mechsuit", sans-serif;
    --subheader-font: "Dev Gothic", sans-serif;
}

/* ==============================
Color Variables
============================== */
:root {
    --body-bg: hsl(0, 0%, 5%);
    --body-text-color: hsl(0, 0%, 80%);
    --body-text-color-2: white;
    --footer-bg-1: hsl(0, 0%, 15%);
    --footer-bg-2: hsl(0, 0%, 10%);
    --header-text-color: hsl(0, 0%, 95%);
    --navbar-bg-color: hsla(0, 0%, 0%, 85%);
}

/* ==============================
Layout
============================== */
* {
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    /* background-image: url("/images/main_bg.jpg"); */
    background-color: var(--body-bg);
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: var(--navbar-bg-color);
}

.carousel-caption {
    text-shadow: 0 0 5px black;
}

.carousel-image {
    height: 50vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.carousel-card {
    max-width: 350px;
    max-height: 100px;
    filter: drop-shadow(0px 5px 5px black);
}

.carousel-card-shadow {
    background-image: linear-gradient(to top, hsla(0, 0%, 0%, 90%), transparent);
    height: 150px;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    z-index: 1;
}

.bg-darker {
    background: var(--footer-bg-1);
}

.bg-darkest {
    background: var(--footer-bg-2);
}

.com-update-img {
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 50%);
}

@media screen and (min-width: 576px) {
    .carousel-image {
        height: 50vh;
        object-fit: cover;
        z-index: 2;
    }
    .com-update-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 992px) {
    .borders-lg {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}

/* ==============================
Images
============================== */

.container-bg {
    background-attachment: fixed;
    background-image: url("/images/hero-container-bg.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 0 2px 5px black, 0 2px 5px black;
}

.container-bg-2 {
    background-image: url("/images/container-bg-2.jpg");
    color: white;
}

.backing-image-1 {
    background-attachment: fixed;
    background-image: url("/images/main_bg.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    z-index: -100;
}

.team-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.history-img {
    width: 100%;
}

/* ==============================
Typography
============================== */
body {
    color: var(--body-text-color);
    font-family: var(--body-font);
}

h1, h2, h3 {
    color: var(--header-text-color);
    font-family: var(--header-font);
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.alt-motto {
    font-size: 1.35rem;
}

h1 {
    font-size: 3rem;
}

h4, h5, h6 {
    color: var(--header-text-color);
    font-family: var(--subheader-font);
}

p {
    line-height: 2rem;
}

.navbar-brand {
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    /* -webkit-filter: brightness(.6); */
}

.navbar-brand-logo {
    height: 30px;
}

.nav-link {
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.btn {
    font-family: var(--header-font);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.motto-text {
    color: var(--header-text-color);
    font-family: var(--hero-font);
    font-size: .75rem;
    letter-spacing: .2rem;
    margin-bottom: .25rem;
}

.copyright-text {
    font-family: var(--subheader-font);
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

@media screen and (min-width: 576px) {
    .alt-motto {
        font-size: 1.75rem;
    }
    .motto-text {
        font-size: .85rem;
        margin-bottom: .2rem;
    }
}

@media screen and (min-width: 992px) {
    .text-lg-justify {
        text-align: justify;
    }
}

/* ==============================
Buttons
============================== */
.inactive {
    filter: brightness(0);
}

.btn-dark {
    border-color: transparent;
}

.music-player {
    background: transparent;
    border: none;
    filter: brightness(.65);
    outline: none;
}

.music-player:hover {
    filter: brightness(1);
}

.music-player:focus {
    outline: none;
}

.play {
    background-image: url("/images/play.png");
    background-position: center;
    background-size: contain;
    margin-right: 1px;
    width: 14px;
    height: 18px;
}

.pause {
    background-image: url("/images/pause.png");
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 18px;
}

.donate-button {
    max-width: 300px;
}

.official-link {
    background-color: hsl(0, 0%, 0%);
    transition: background-color .4s;
    width: 65px; height: auto;
}

.steam {
    background-color: hsl(222, 30%, 16%);
}

.steam:hover {
    background-color: hsl(222, 30%, 12%);
}

.twitch {
    background-color: hsl(261, 35%, 35%);
}

.twitch:hover {
    background-color: hsl(261, 35%, 25%);
}

.twitter {
    background-color: hsl(203, 50%, 25%);
}

.twitter:hover {
    background-color: hsl(203, 50%, 15%);
}

.youtube {
    background-color: hsl(0, 75%, 40%);
}

.youtube:hover {
    background-color: hsl(0, 75%, 30%);
}

/* ==============================
Horizontal Rules
============================== */
.main-hor-rule {
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, white, transparent);
    height: 1px;
}

/* ==============================
Modals
============================== */
.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.close {
    color: white;
    margin-right: 1rem;
    text-shadow: 0 2px 2px gray;
    transition: color .2s;
}

/* ==============================
Custom Scrollbar
============================== */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 10%); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 45%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}