/* ==============================
Custom Fonts
============================== */
@font-face {
    font-family: 'Dev Gothic';
    src: url('/fonts/devgothic.ttf');
}
@font-face {
    font-family: 'Mechsuit';
    src: url('/fonts/mechsuit.otf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans.ttf');
}
@font-face {
    font-family: 'Steelfish';
    src: url('/fonts/steelfish.ttf');
}

/* ==============================
Font Variables
============================== */
:root {
    --body-font: "Open Sans", sans-serif;
    --header-font: "Steelfish", sans-serif;
    --home-button-font: "Mechsuit", sans-serif;
    --subheader-font: "Dev Gothic", sans-serif;
}

/* ==============================
Color Variables
============================== */
:root {
    --body-bg: hsl(0, 0%, 5%);
    --body-text-color: hsl(0, 0%, 65%);
    --header-text-color: hsl(0, 0%, 80%);
    --navbar-bg-color: hsla(0, 0%, 0%, 85%);
}

/* ==============================
Layout
============================== */
* {
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-image: url("/images/main_bg.jpg");
    background-color: var(--body-bg);
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: var(--navbar-bg-color);
}

.carousel-caption {
    text-shadow: 0 0 5px black;
}

.carousel-image {
    height: 50vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.carousel-card {
    max-width: 350px;
    max-height: 100px;
    -webkit-filter: drop-shadow(0px 5px 5px black);
}

.carousel-card-shadow {
    background-image: linear-gradient(to top, hsla(0, 0%, 0%, 90%), transparent);
    height: 150px;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    z-index: 1;
}

.container-bg-1 {
    background-image: url("/images/hero-container-bg.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 0 2px 5px black, 0 2px 5px black;
}

@media screen and (min-width: 576px) {
    .carousel-image {
        height: 50vh;
        object-fit: cover;
        z-index: 2;
    }
    .com-update-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 992px) {
    .borders-lg {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}

/* ==============================
Typography
============================== */
body {
    color: var(--body-text-color);
    font-family: var(--body-font);
}

h1, h2, h3 {
    color: var(--header-text-color);
    font-family: var(--header-font);
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.alt-motto {
    font-size: 1.35rem;
}

h1 {
    font-size: 3rem;
}

h4, h5, h6 {
    color: var(--header-text-color);
    font-family: var(--subheader-font);
}

p {
    line-height: 2rem;
}

.navbar-brand {
    font-family: var(--subheader-font);
    font-size: 1.5rem;
}

.nav-link {
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.btn {
    font-family: var(--header-font);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}


@media screen and (min-width: 576px) {
    .alt-motto {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 992px) {
    .text-lg-justify {
        text-align: justify;
    }
}

/* ==============================
Buttons
============================== */
.btn-dark {
    border-color: transparent;
}

/* ==============================
Custom Scrollbar
============================== */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 10%); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 45%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}